@font-face {
    font-family: "Raleway";
    src: url("raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("raleway/Raleway-SemiBold.ttf") format("truetype");
}


html, body {
    background-attachment: scroll;  /* Le fond restera fixe */
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Raleway";
    }

head {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1800px;
    display: block;
    flex-direction: column;
    margin: auto;
}

.contenu {
    flex: 1 0 auto;
}

.premieresection {
    display: block;
    width: 100%;
}


/* MENU */

.logo {
    width: 100px;
    height: 50px;
    margin: 20px 0px 0 0;
    float: left;
}

#menu {
    margin-top: 2px; 
    margin-bottom: 3px; 
    margin-left: 0px;
}
    
#menu ul {     /* Ensemble du menu */
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 70% repeat(3, 10%);
    text-align: right;
    margin-top: 0px;
}

#menu li {   /* Élements des listes */
    list-style-type: none;
    display: inline-block;
    padding-bottom: 30px;
}    

#menu a {       /* Contenus des listes */
    text-decoration: none;
    padding: 30px 30px;
    font-size: 16px;
    display: inline-block;
}      

#menu a:hover {
    border-top: 3px solid blue;
}

.hebergements {
    grid-column-start: 2;
}

.hebergements a {
    color:#0065FC;
}

.activites {
    grid-column-start: 3;
}

.activités a {
    color: black;
}

.sinscrire {
    grid-column-start: 4;
}

.sinscrire a {
    color: #0065FC;
    font-family:"Raleway-SemiBold";
}

h1 {
    font-family: "Raleway-SemiBold";
    font-size: 22px;
    margin-top: 10px;
}

.p1 {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 5px;
}

/* RECHERCHER */

#recherches {
    height: auto;
    border: 0.5px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
}

.formulaires .champ {
    font-family: "Raleway-SemiBold";
    border: none;
    font-size: 16px;
    padding-left: 25px;
}

.formulaires .bouton {
    line-height: 50px;
    font-size: 16px;
    margin-left: 40px;
    color: white;
    font-family: "Raleway-SemiBold";
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
}

.bouton:hover {
    text-decoration: underline;
}

.fa-map-marker-alt {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}


/* FILTRES */

.filtres {
    font-family: "Raleway-SemiBold";
    font-size: 16px;
}

#filtres {
    width: 100%;
    height: auto;
}

#filtres h3 {
    float: left;
    line-height: 10%;
    margin-top: 60px;
    margin-bottom: 10px;
}

#filtres ul {
    display: inline-block;
    overflow: hidden;
    margin-top: 25px;
}

#filtres li {
    list-style-type: none;
}

#filtres a {    
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
}

.premiere {
    float: left;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    transition:0.5s;
}

.premiere:hover {
    transform : scale(1.2);
}

.premiere .economique {
    border: 2px solid #dbd9d9;
    border-radius: 2rem;
}

.economique i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 100%;
    font-size: 16px;
    padding: 15px;
}

.economique a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.deuxieme {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    transition:0.5s;
}

.deuxieme:hover {
    transform : scale(1.2);
}

.deuxieme .familial {
    border: 2px solid #dbd9d9;
    border-radius: 2rem;
}

.familial i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 100%;
    font-size: 16px;
    padding: 15px;
}

.familial a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.troisieme {
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    transition:0.5s;
}

.troisieme:hover {
    transform : scale(1.2);
}

.troisieme .romantique {
    border: 2px solid #dbd9d9;
    border-radius: 2rem;
}

.romantique i {
    color: #0065FC; 
    background-color: #deebff;
    border-radius: 100%;
    font-size: 16px;
    padding: 15px;
}

.romantique a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.quatrieme {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition:0.5s;
}

.quatrieme:hover {
    transform : scale(1.2);
}

.quatrieme .animaux-autorises {
    border: 2px solid #dbd9d9;
    border-radius: 2rem;
}

.animaux-autorises i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 100%;
    font-size: 16px;
    padding: 15px;
}

.animaux-autorises a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.lgts{
    margin-bottom: 30px;
}

.fa-info-circle {
    background-color: white;
    margin-right: 10px;
    font-size: 15px;
}

.p2 {
    font-size: 15px;
}


/* HÉBERGEMENTS À MARSEILLE */

.deuxiemesection {
    height: auto;
    display: grid;
    column-gap: 50px;
}

#hebergementsamarseille {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;}

.alignement {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergementstitre {
    padding-top: 10px;
    padding-left: 30px;
}

.hebergementstitre h2{
    font-family: "Raleway-SemiBold";
    font-size: 22px;
}

.bannieres {
    width: 25%;
    margin: 15px 30px 15px 30px;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    transition:0.5s;
} 

.bannieres:hover {
    transform : scale(1.2);
}

.bannieres figure {
    margin-block-start: 0px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
}

.bannieres figcaption strong {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 10px;
}

.bannieres figcaption span {
    color: grey;
    font-size: 13px;
    padding-left: 10px;
}

.bannieres a {
    text-decoration: none;
}

.bannieres img { 
    border: 3px solid rgb(255, 255, 255);
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 1rem 1rem 0 0;
}

.etoiles1 {
    padding-left: 10px;
}

.fa-star {
    color:#0065FC;
    background-color: white;
    font-size: 10px;
}

.etoilegrise .fa-star{
    color:#d6cfcf;
    font-size: 10px;
}

.afficher {
    padding-top: 30px;
    padding-bottom: 5px;
    
}
.afficher a {
    font-family: "Raleway-SemiBold";
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 40px;
}

.afficher a:hover {
    text-decoration: underline;
}


/*LES PLUS POPULAIRES */

#lespluspopulaires {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.populaires {
    padding-top: 10px;
    padding-left: 30px;
}

.populaires h2{
    font-family: "Raleway-SemiBold";
    font-size: 22px;
}

.fa-chart-line {
    float: right;
    font-size: 22px;
    padding-top: 15px;
    padding-right: 10px;
}

.flotte {
    transition:0.5s;
}

.flotte:hover {
    transform : scale(1.2);
}

.flotte figure {
    width: 85%;
    height: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
}

.flotte img {
    object-fit: cover;
    width: 35%;
    height: 160px;
    border-radius: 1rem 0 0 1rem;
    padding: 5px;
}

.flotte a {
    text-decoration: none;
}

.legende{
    padding-top: 20px;
    padding-left: 20px;
    line-height: 25px;
}

.legende figcaption strong {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
}

.legende figcaption span {
    color: grey;
    font-size: 13px;
}

.etoiles2 {
    padding-top: 65px;
}

.etoiles3 {
    padding-top: 40px;
}

.etoilegrise2 .fa-star {
    color:#d6cfcf;
}


/* ACTIVITÉS À MARSEILLE */    

.activitestitre {
    font-family: "Raleway-SemiBold";
    padding-top: 35px;
}

#activitesamarseille {
    display: grid;
    width: 100%;
    row-gap: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
}

.cont-item1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    transition:0.5s;
}

 .cont-item1:hover {
    transform : scale(1.2);
 }

.cont-item1 a {
    text-decoration: none;
}

.cont-item1 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 585px;
}

.cont-item1 img {
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item1 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 13px;
}

.cont-item2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    transition:0.5s;
}

.cont-item2:hover {
    transform : scale(1.2);
 }

.cont-item2 a {
    text-decoration: none;
}

.cont-item2 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 320px;
}

.cont-item2 img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item2 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 13px;
}

.cont-item3 {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    transition:0.5s;
}

.cont-item3:hover {
    transform : scale(1.2);
 }

.cont-item3 a {
    text-decoration: none;
}
    
.cont-item3 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 585px;
}

.cont-item3 img {
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item3 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 13px;
}

.cont-item4 { 
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    transition:0.5s;
}

.cont-item4:hover {
    transform : scale(1.2);
 }

.cont-item4 a {
    text-decoration: none;
}

.cont-item4 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 320px;
}

.cont-item4 img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item4 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 13px;
}

.cont-item5 { 
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    transition:0.5s;
}

.cont-item5:hover {
    transform : scale(1.2);
 }

.cont-item5 a {
    text-decoration: none;
}

.cont-item5 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 220px;
}

.cont-item5 img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item5 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.cont-item6 {
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    transition:0.5s;
}

.cont-item6:hover {
    transform : scale(1.2);
 }

.cont-item6 a {
    text-decoration: none;
}

.cont-item6 figure {
    display: block;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 16px #0000002e;
    width: 90%;
    height: 220px;
}

.cont-item6 img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 1rem 1rem 0 0;
}

.cont-item6 figcaption {
    font-family: "Raleway-SemiBold";
    color: black;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 13px;
}



/* FOOTER */

.basdepage {
    flex-shrink: 0;
    width: 100%;
    background-color:#F2F2F2;
}

.contenu-footer {
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    font-size: 16px;
    padding: 20px 0px 80px;
}

.bloc {
    width: 40%;
    margin: 0 35px;
}

.footer-apropos h3,
.footer-hebergements h3,
.footer-assistance h3 {
    font-size: 16px;
    font-family: "Raleway-SemiBold";
}

.liste-apropos,
.liste-noshebergements,
.liste-assistance {
    list-style-type: none;
    padding-left: 0px;
}

.liste-apropos li,
.liste-noshebergements li,
.liste-assistance li {
    padding: 5px 0;
}

.liste-apropos a,
.liste-noshebergements a,
.liste-assistance a {
    text-decoration: none;
    color: black;
}

.liste-apropos a:hover,
.liste-noshebergements a:hover,
.liste-assistance a:hover {
    text-decoration: underline;
}



@media (max-width: 750px) {

    body {
        max-width: 700px;
    }


/*MENU*/

    .logo {
        margin-left: 10px;
    }

    #menu {
        margin-right: 50px;
    }

    #menu ul {
        grid-template-rows: repeat(2, 50%);
    }
    
    .hebergements {
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .activites {
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .sinscrire {
        grid-row-start: 1;
        grid-row-end: 1;
    }

    h1 {
        margin-left: auto;
    }

    .p1 {
        margin-left: auto;
    }

/* RECHERCHES */

    #recherches {
        margin-left: auto;
    }

/* FILTRES */

    #filtres h3 {
        margin-left: auto;
    }

    .fa-info-circle {
        margin-left: auto;
    }


/* HÉBERGEMENTS À MARSEILLE */

    .deuxiemesection {
        margin-left: auto;
    }

    .hebergementstitre {
        padding-left: 0px;
    }

    #hebergementsamarseille {
        grid-row-start: 2;
        grid-row-end: 2;
        flex-direction: column;
        background-color: white;
    }

    .alignement {
        background-color: white;
    }   

    .bannieres {
        width: 100%;
    }
    
    .afficher a {
        padding-left: 0px;
    }


/* LES PLUS POPULAIRES */

    #lespluspopulaires {
        grid-column-start: 1;
        grid-column-end: 1;
        margin-bottom: 20px;
    }

    #activitesamarseille {
        margin-left: auto;
    }
    

/* ACTIVITÉS À MARSEILLE */

    .activitestitre {
        padding-left: 0px;
    }

    #activitesamarseille {
        grid-template-columns: 100%;
    }

    .cont-item1 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .cont-item1 figure {
        width: 100%;
    }

   .cont-item2 {
       width: 100%;
       grid-column-start: 1;
       grid-column-end: 1;
       grid-row-start: 2;
       grid-row-end: 2;
   }
       
   .cont-item2 figure {
       width: 100%;
   }

   .cont-item3 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    
    .cont-item3 figure {
        width: 100%;
    }

    .cont-item4 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        }
        
    .cont-item4 figure {
        width: 100%;
    }

    .cont-item5 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        }
        
    .cont-item5 figure {
        width: 100%;
    }

    .cont-item6 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
        }
        
    .cont-item6 figure {
        width: 100%;
    }

/* FOOTER */

    .contenu-footer {
        flex-direction: column;
        margin-left: auto;
    }
       
    } 