@font-face {
    font-family: "Raleway";
    src: url("raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("raleway/Raleway-SemiBold.ttf") format("truetype");
}

html, body, head {
    background-attachment: scroll;  /* Le fond restera fixe */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: "Raleway";
    }

.logo {
    width: 60px;
    height: 30px;
}

/* MENU */

#menu {
    margin-top: 2px; 
    margin-bottom: 3px; 
    margin-left: 0px; 
    margin-right: 25px;
}
    
#menu ul {     /* Ensemble du menu */
    text-align: right;  
    overflow: hidden;
}

#menu li {   /* Élements des listes */
 list-style-type: none;
 display: inline-block;
}    

#menu a {       /* Contenus des listes */
    text-decoration: none;
    padding: 20px 30px;
    font-size: 12px;
}      

.hébergements a {
    color:#0065FC;
}

.activités a {
    color: black;
}

.sinscrire a {
    color: #0065FC;
    font-family:"Raleway-SemiBold";
}

h2 {
    font-family: "Raleway-SemiBold";
}

p {
    color: grey;
    font-family: "Raleway";
}

h3 {
    font-family: "Raleway";  
}

/* RECHERCHER */

#recherches {
    position: relative;
    width: 1040px;
    height: auto;
    margin-top: 2px; 
    margin-bottom: 3px; 
    margin-left: 0px; 
    margin-right: 25px;
    border: 1px solid rgb(5, 4, 4);
    border-radius: 10px 10px 10px 10px;
}

.formulaires {
    display: inline-block;
}

.formulaires .champ {
    font-family: "Raleway-SemiBold";
}

.formulaire .bouton {
    background-color: #0065FC;
    width: 100px;
    line-height: 30px;
    color: white;
    font-family: "Raleway";
}

.bouton:hover {
    text-decoration: underline;
}

/* FILTRES */

#filtres {
    width: 100%;
}

#filtres ul {
    text-align: left;
    overflow: hidden;
}

#filtres li {
    list-style-type: none;
    display: inline-block;
}

#filtres a {    
    text-decoration: none;
    padding: 20px 30px;
    font-size: 12px;
}

.économique a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.familial a {
    color: black;
    font-family: "Raleway-SemiBold";
}

.romantique a {
    color: black;
   font-family: "Raleway-SemiBold";
}

.animaux-autorisés a {
    color: black;
    font-family: "Raleway-SemiBold";
}

/* HÉBERGEMENTS À MARSEILLE */

#conteneur1 {
    width: 80%;
    height: 500px;
    max-width: 1300px;
    margin: 10px 50px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
}

.cont-item {
    width: 250px;
    height: auto;
}


.cont-item figure {
    width: 150px;
    height: 150px;
   text-align: center;
   background-color: rgb(255, 255, 255);
   border: 3px solid rgb(255, 255, 255);
   border-radius: 10px 10px 10px 60px;
   text-decoration: none;
}

.cont-item figcaption {
    text-decoration: none;
    color: black;
}

.cont-item img {
   width: 150px;
   height: auto;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 10px 10px 10px 10px;
}



/* LES PLUS POPULAIRES */

#conteneur2 {
    width: 80%;
    max-width: 1300px;
    margin: 10px 25px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color:#F2F2F2;  
}




h3 {
    font-family: "Raleway-SemiBold";
    text-align: left;
    margin: 30px;

}

}




